body, h1, p {
  margin: 1em;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 100%;
  color: #333;
}

.blog h1 {
  font-size: 1.1em;
  color: #f05c21;
  font-weight: normal;
}

.blog p {
  line-height: 1.3em;
}
